#moeda {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 250px;
    height: 250px;
    background-color: rgb(255, 213, 0);
    border-color: yellow;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;

    color: black;
}
#conteinerMoeda{
    display: flex;
    flex-direction: column;
    align-items: center;
}